<DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title> NonToxx </title>

	
	<link rel="stylesheet" type ="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Meddon" rel="stylesheet">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<!-- icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>

	<div>
		<header class="row #283593 indigo darken-3">
			<div class="container">
				<div class="row">
					<h1 class="col l4 offset-l4 display-3 center-align fonto">NonToxx</h1>
				</div>	
			</div>
		</header>

	</div>

<main>
	{{{body}}}


		<footer class="page-footer footer-copyright #283593 indigo darken-3">
		<div class="container">
			<h5 class="center-align"><strong>Copyright &copy; The NonToxx</strong></h5>
		</div>
	</footer>

</main>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<script type = "text/javascript">
	$(document).ready(function(){
   		 $('.sidenav').sidenav();
 	});
</script>
</body>

</html>
